Flask==3.0.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.25
Werkzeug==3.0.1
gunicorn==21.2.0
pandas==2.2.3
numpy==2.2.2
python-dotenv==1.0.1
pyotp==2.9.0
reportlab==4.1.0
qrcode==7.4.2
Pillow==10.2.0
openpyxl==3.1.2
xlrd==2.0.1
xlsxwriter==3.2.0
